In [1]:
import numpy as np
import pandas as pd
from os.path import exists

## Part a

In [3]:
path = '/Users/lxydawn/STATS507'
demo_file = path + '/demo.feather'

In [4]:
## I downloaded the file to my computer so I used the path on my end...since I had error
## when I wanted to directly add the link from the website
df1 = pd.read_sas("/Users/lxydawn/STATS507/DEMO_G.XPT")
df1["cohort"] = 1
df = df1
df2 = pd.read_sas("/Users/lxydawn/STATS507/DEMO_H.XPT")
df2["cohort"] = 2
df3 = pd.read_sas("/Users/lxydawn/STATS507/DEMO_I.XPT")
df3["cohort"] = 3
df4 = pd.read_sas("/Users/lxydawn/STATS507/DEMO_J.XPT")
df4["cohort"] = 4
df = df.append(df2,ignore_index=True)
df = df.append(df3,ignore_index=True)
df = df.append(df4,ignore_index=True)

## select columns
df = df[['SEQN','RIAGENDR','RIDAGEYR','RIDRETH3','DMDEDUC2','DMDMARTL',
         'RIDSTATR','SDMVPSU','SDMVSTRA','WTMEC2YR','WTINT2YR','cohort']]
df.columns = ['id','gender','age','race_and_ethnicity','education','marital_status','examination_status',
              'pseudo-psu','pseudo-stratum','2_year_mec_exam','2_year_interview','cohort']

# replace NA values with -1
df = df.fillna(-1)

# convert float to int:
df['id'] = df['id'].astype("int")
df['gender'] = df['gender'].astype("int")
df['age'] = df['age'].astype("int")
df['race_and_ethnicity'] = df['race_and_ethnicity'].astype("int")
df['education'] = df['education'].astype("int")
df['marital_status'] = df['marital_status'].astype("int")
df['examination_status'] = df['examination_status'].astype("int")
df['pseudo-psu'] = df['pseudo-psu'].astype("int")
df['pseudo-stratum'] = df['pseudo-stratum'].astype("int")

# convert some columns into categorical
df['id'] = df.id.astype('category')
df['gender'] = df.gender.astype('category')
df['race_and_ethnicity'] = df.race_and_ethnicity.astype('category')
df['education'] = df.education.astype('category') 
df['marital_status'] = df.marital_status.astype('category')
df['examination_status'] = df.examination_status.astype('category')

demo_file = path + '/demo.feather'
df.to_feather(demo_file)

In [5]:
#Import Feather file:
demo_frame = pd.read_feather(demo_file)
demo_frame

,id,gender,age,race_and_ethnicity,education,marital_status,examination_status,pseudo-psu,pseudo-stratum,2_year_mec_exam,2_year_interview,cohort
0,62161,1,22,3,3,5,2,1,91,104236.582554,102641.406474,1
1,62162,2,3,1,-1,-1,2,3,92,16116.354010,15457.736897,1
2,62163,1,14,6,-1,-1,2,3,90,7869.485117,7397.684828,1
3,62164,2,44,3,4,1,2,1,94,127965.226204,127351.373299,1
4,62165,2,14,4,-1,-1,2,2,90,13384.042162,12209.744980,1
...,...,...,...,...,...,...,...,...,...,...,...,...
39151,102952,2,70,6,3,1,2,2,138,18338.711104,16896.276203,4
39152,102953,1,42,1,3,4,2,2,137,63661.951573,61630.380013,4
39153,102954,2,41,4,5,5,2,1,144,17694.783346,17160.895269,4
39154,102955,2,14,4,-1,-1,2,1,136,14871.839636,14238.445922,4
39155,102956,1,38,3,4,3,2,1,142,39426.299948,38645.740291,4